<div class="breakout">
  <div class="hero hero--headers">
    <h1 class="hero--headers__main">Project Brunel</h1>
    <h2 class="hero--headers__sub">A different way to plan your British train journeys</h2>
  </div>

  <%= form_tag("/journey", method: "get", class: 'grid form-fields form--search', id: 'journeyForm') do %>
    <fieldset class="grid__item search-stations">
      <div class="field">
        <label for="dep">From:</label>
        <%= text_field_tag(:dep, '', class: 'text-input text-input--wide') %>
        <%= hidden_field_tag 'dep-hidden' %>
      </div>
      <div class="field">
        <label for="arr">To:</label>
        <%= text_field_tag(:arr, '', class: 'text-input text-input--wide') %>
        <%= hidden_field_tag 'arr-hidden' %>
      </div>
    </fieldset><!--
    --><fieldset class="grid__item search-time">
      <div class="field">
        <label for="date">Date:</label>
        <%= date_field_tag :date, @currentDate, class: 'text-input text-input--narrow' %>
      </div>
      <div class="field">
        <label for="time">Time:</label>
        <%= time_field_tag :time, @currentTime, class: 'text-input text-input--narrow' %>
      </div>
    </fieldset>
      <%= button_tag "Search", type: :submit, class: "btn btn--beta btn--hollow btn--cta" %>
  <% end %>
  <div class="visuallyhidden" id="patience">
    <p class="gamma">Hold on—we're finding you a journey from <span id="js-dep-conf"></span> to <span id="js-arr-conf"></span> on the <span id="js-date-conf"></span> at <span id="js-time-conf"></span></p>
  </div>
</div>
<p class="photo-credit">Photo: <a href="http://www.flickr.com/photos/fionamcallisterphotography/10312730793/">Fiona McAllister</a></p>
