<div class="breakout">
  <div class="hero">
    <h1>Project Brunel</h1>
    <h2>A different way to plan your British train journeys</h2>
  </div>

  <%= form_tag("/journey", method: "get", class: 'grid form-fields form--search') do %>
    <fieldset class="grid__item seven-twelfths">
      <label for="dep">
        From:
        <%= text_field_tag(:dep, '', class: 'text-input text-input--wide') %>
        <%= hidden_field_tag 'dep-hidden' %>
      </label>

      <label for="arr">
        To:
        <%= text_field_tag(:arr, '', class: 'text-input text-input--wide') %>
        <%= hidden_field_tag 'arr-hidden' %>
      </label>
    </fieldset><!--
    --><fieldset class="grid__item five-twelfths">
      <label for="date">
        Date:
        <%= date_field_tag :date, @currentDate, class: 'text-input text-input--narrow' %>
      </label>

      <label for="time">Time:
        <%= time_field_tag :time, @currentTimePadded, class: 'text-input text-input--narrow' %>
      </label>
    </fieldset>
      <%= button_tag "Search", type: :submit, class: "btn btn--beta btn--hollow btn--cta" %>
  <% end %>
</div>
