<h1>Search for trains, yo.</h1>

<%= form_tag("/journey", method: "get") do %>
  <%= label_tag(:dep, "Departure: ") %>
  <%= text_field_tag(:dep) %>
  <%= label_tag(:arr, "Arrival: ") %>
  <%= text_field_tag(:arr) %>
  <%= label_tag(:date, "Date: ") %>
  <%= date_field_tag :date, Date.today %>
  <%= label_tag(:time, "Time: ") %>
  <%= time_field_tag :time, Time.now.hour.to_s + Time.now.min.to_s %>
  <%= submit_tag("Search") %>
<% end %>
