<h1><a href="/"></a>Project Brunel</h1>

<h2>You are embarking on a delightful journey from <strong><%= @departure_station %></strong> to <strong><%= @arrival_station %></strong></h2>

<table class="journey-listing">
  <tr>
    <th>Rating</th>
    <th>Departure</th>
    <th>Arrival</th>
    <th>Duration</th>
    <th>Changes</th>
    <th>Price</th>
  </tr>

  <% @journeys.each do |journey| %>
    <tr>
      <td class="rating"><%= journey["rtg"] %></td>
      <td class="dep"><%= journey["dep"] %></td>
      <td class="arr"><%= journey["arr"] %></td>
      <td class="dur"><%= journey["dur"] %></td>
      <td class="chg"><%= journey["chg"] %></td>
      <td class="fare"><%= journey["fare"] %></td>
    </tr>
  <% end %>
</table>
