<section class="results">
  <h2>
    <strong><%= @departure_station %></strong>
    >
    <strong><%= @arrival_station %></strong>
    <a href="/" class>(edit)</a>
  </h2>

  <ol class="journeys">
  <% @journeys.each_with_index do |journey, index| %>
    <li class="journey <%= journey_rating_class(@journeys.length, index) %>" data-totalRating="<%= journey["rtg"] %>">
      <div class="journey--timespan">
        <span class="dep"><%= journey["dep"] %></span>—<span class="arr"><%= journey["arr"] %></span>
      </div>
      <div class="journey--duration js-rating" data-durationrating="<%= journey['durRating'] %>">
        <i class="icon-time"></i>
        <%= journey["dur"] %>
      </div>
      <div class="journey--changes js-rating" data-changerating="<%= journey['chgRating'] %>">
        <i class="icon-changes"></i>
        <%= num_of_changes_or_direct(journey["chg"]) %>
      </div>
      <div class="journy--fare js-rating" data-farerating="<%= journey['fareRating'] %>">
        <%= journey["fare"] %>
      </div>
    </li>
  <% end %>
  </ol>
</section>
