<section class="results">
  <h2>
    <strong><%= @departure_station %></strong>
    >
    <strong><%= @arrival_station %></strong>
    <a href="/" class>(edit)</a>
  </h2>

  <ol>
  <% @journeys.each_with_index do |journey, index| %>
    <li class="journey <%= journey_rating_class(@journeys.length, index) %>" data-totalRating="<%= journey["rtg"] %>">
      <span class="rating"><%= journey["rtg"] %></span>
      <span class="dep"><%= journey["dep"] %></span>
      <span class="arr"><%= journey["arr"] %></span>
      <span class="dur js-rating" data-durationrating="<%= journey['durRating'] %>"><%= journey["dur"] %></span>
      <span class="chg js-rating" data-changerating="<%= journey['chgRating'] %>"><%= journey["chg"] %></span>
      <span class="fare js-rating" data-farerating="<%= journey['fareRating'] %>"><%= journey["fare"] %></span>
    </li>
  <% end %>
  </ol>
</section>
