<!DOCTYPE html>
<html>
<head>
  <title>Project Brunel</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript">
    (function() {
      var config = {
        kitId: 'ntj3tvx',
        scriptTimeout: 3000
      };
      var h=document.getElementsByTagName("html")[0];h.className+=" wf-loading";var t=setTimeout(function(){h.className=h.className.replace(/(\s|^)wf-loading(\s|$)/g," ");h.className+=" wf-inactive"},config.scriptTimeout);var tk=document.createElement("script"),d=false;tk.src='//use.typekit.net/'+config.kitId+'.js';tk.type="text/javascript";tk.async="true";tk.onload=tk.onreadystatechange=function(){var a=this.readyState;if(d||a&&a!="complete"&&a!="loaded")return;d=true;clearTimeout(t);try{Typekit.load(config)}catch(b){}};var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(tk,s)
    })();
  </script>
  <%= csrf_meta_tags %>
</head>
<h1><%=Rails.env%></h1>
<body class="controller-<%= params[:controller] %> action-<%= params[:action] %>">

  <div class="container--site">
    <%= yield %>
  </div>
</body>
</html>
